section
  animation opacide-main 1s forwards

  h2
    display: flex
    text-transform: uppercase
    font-size: 22px
    align-items: center
    margin-bottom: 10px
    color: #867867

    &:after, &:before
      content: ''
      display: table
      flex: auto
      height 2px
      background-color: #dcc8b2

    &:after
      margin-left: 20px

    &:before
      margin-right: 20px

  input
    background-color: white
    border: 1px solid #d4d2ca
    color: #867867
    font-size: 16px
    line-height: 1em
    padding: 12px 15px
    border-radius: 6px
    display: table
    margin-bottom: 10px
    width: 400px
    max-width: 100%

    &:focus, &:hover
      border-color: #ff9800
      box-shadow: 0 0 0 2px #e7f3ff
      caret-color: #ff9800

    &.input-error, &.input-error:focus, &.input-error:hover
      border-left: solid 5px red

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0 30px white inset !important
    -webkit-text-fill-color: #867867 !important;

  form
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 2px solid #dcc8b2

    button
      background-image: linear-gradient(to bottom, #ffac00 5%, #ffc644 15%, #ffac00 20%, #ff5000)
      border: solid 1px #dd4e1d
      border-radius: 6px
      font-size: 20px
      line-height: 1em
      padding: 14px 16px
      width: 400px
      max-width: 100%
      color: #fff
      text-shadow: -1px -1px #e74a00
      font-weight: bold

      &:hover
        background-image: linear-gradient(to bottom, #ff7f00 5%, #ffac00 15%, #ff7f00 20%, #e74d00)

  a
    display: table
    margin: 0 auto
    font-size: 14px
    color: #a95a04
    margin-top: 15px

    &:hover
      text-decoration: underline

  p.error
    text-align: left
    padding: 0 0 15px
    color: #F44336
    margin-top: -5px

  #bt-conta
    border: solid 1px #efa601
    border-radius: 6px
    font-size: 17px
    line-height: 1em
    padding: 14px 30px
    background-image: linear-gradient(to bottom, #efdb01 5%, #fff47c 15%, #efdb01 20%, #efa601)
    margin: 0 auto
    color: #6b2d0f
    text-shadow: -1px -1px #ffe900
    -webkit-text-stroke: .5px
    display: table

  button
    cursor: pointer

@keyframes opacide-main
  0%
    opacity 0
    transform translate(0, 10px)

  100%
    opacity 1
    transform translate(0, 0)
