width-main = 1080px
width-lg = 920px
width-md = 720px
width-sm = 480px

@media screen and (min-width: 1px)
  for row in 1 2 3 4 5 6 7 8 9 10 11 12
    .col-xl-{row}
      position relative
      width 100%
      min-height 1px
      padding 5px
      text-align left
      flex 0 0 (100 / (12 / row))%
      max-width (100 / (12 / row))%
      display block

@media screen and (max-width: width-lg)
  for row in 1 2 3 4 5 6 7 8 9 10 11 12
    .col-lg-{row}
      position relative
      width 100%
      min-height 1px
      padding 5px
      text-align left
      flex 0 0 (100 / (12 / row))%
      max-width (100 / (12 / row))%
      display block

@media screen and (max-width: width-md)
  for row in 1 2 3 4 5 6 7 8 9 10 11 12
    .col-md-{row}
      position relative
      width 100%
      min-height 1px
      padding 5px
      text-align left
      flex 0 0 (100 / (12 / row))%
      max-width (100 / (12 / row))%
      display block

@media screen and (max-width: width-sm)
  for row in 1 2 3 4 5 6 7 8 9 10 11 12
    .col-sm-{row}
      position relative
      width 100%
      min-height 1px
      padding 5px
      text-align left
      flex 0 0 (100 / (12 / row))%
      max-width (100 / (12 / row))%
      display block

.container
  width 100%
  max-width width-main
  margin-right auto
  margin-left auto
  overflow hidden

.row
  width 100%
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap

.row-center
  align-items center
