<section>
  <div [ngStyle]="{'background-image': 'url(/assets/img/bg-auth/'+bgOld+'.webp)'}">
    <span [ngStyle]="{'background-image': 'url(/assets/img/bg-auth/'+bgNow+'.webp)'}"></span>
  </div>
  <main>
    <h1><img src="/assets/img/logo.png" alt="Zoiland" /></h1>
    <router-outlet></router-outlet>
    <footer>
      <img src="/assets/img/type-auth.png" alt="Zoiland" />
      <p>Desenvolvido por <a href="https://www.linkedin.com/feed/" target="_blank">Vitor Zortéa</a></p>
    </footer>
  </main>
</section>
